* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LOGO */
.amazon-logo {
    margin-top: 20px;
}

.amazon-logo img {
    width: 120px;
}

/* CONTAINER */
.container {
    margin-top: 20px;
    text-align: center;
}

/* FORM BOX */
.form-box {
    background: white;
    width: 350px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
}

/* TITLE */
.form-box h1 {
    font-size: 22px;
    margin-bottom: 15px;
}

/* INPUT */
.input-box {
    margin-bottom: 15px;
}

.input-box label {
    font-size: 13px;
    font-weight: bold;
}

.input-box input {
    width: 100%;
    padding: 8px;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
    margin-top: 5px;
}

/* BUTTON */
.btn {
    width: 100%;
    background: #ffd814;
    border: 1px solid #fcd200;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background: #f7ca00;
}

/* TERMS */
.terms {
    font-size: 12px;
    margin-top: 15px;
}

/* LINKS */
.forgot-link a,
.signin-link a {
    color: #007185;
    font-size: 12px;
    text-decoration: none;
}

/* DIVIDER */
.divider {
    margin: 20px 0;
    font-size: 12px;
    color: gray;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    height: 1px;
    width: 40%;
    background: #ddd;
    position: absolute;
    top: 50%;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

/* REGISTER BUTTON */
.register-btn {
    width: 350px;
    background: #e7e9ec;
    border: 1px solid #adb1b8;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
}

/* SIGNIN TEXT */
.signin-link {
    font-size: 13px;
}

/* RESPONSIVE */
@media (max-width: 480px) {
    .form-box {
        width: 90%;
    }

    .register-btn {
        width: 90%;
    }
}